<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewData["PageTitle"]</h3>

    @{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }

<div>@employee.Name</div>
<div>@employee.Email</div>
<div>@employee.Department</div>
</body>
</html>
